body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: linear-gradient(135deg, #ffcc99, #ffdfb3);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    margin: 0;
    background-color: #ff7f00;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    color: #555;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background: linear-gradient(to bottom, #ff6600, #ff3300);
}

#errmsg {
    color: red;
}