body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff9900, #ff6600);
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
}

.validation {
    height: 20px;
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.validation {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
}

ul#passwordRequirements {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
    color: #666;
}

input[type="submit"] {
    background-color: #ff9900;
    cursor: pointer;
    color: #fff;

    /* background-color: #ccc;
    color: #999;
    cursor: not-allowed; */

    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 100%;
}

input[type="submit"]:hover {

    background: linear-gradient(to bottom, #ff6600, #ff3300);
}


/* Add this CSS rule to change the color of the disabled button */
/* #submitBtn:disabled { */
/* } */